{% verbatim %}
<script type="text/javascript">
    var url_mop_change_parent_post                = '{% endverbatim %}{% url 'wineposts_mop_define_as_children_ajax' %}{% verbatim %}';
    var url_mop_change_parent_post_winemaker_list = '{% endverbatim %}{% url 'change_parent_post_winemaker_list_ajax' %}{% verbatim %}';
    var url_mop_change_parent_post_wine_list      = '{% endverbatim %}{% url 'change_parent_post_wine_list_ajax' %}{% verbatim %}';
    var url_mop_move_to_general_post              = '{% endverbatim %}{% url 'wineposts_mop_move_to_general_post_ajax' %}{% verbatim %}';
</script>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
{% endverbatim %}
        <div id="action" class="collapse" style="z-index: 10 ! important;">
            <div class="bandeau action-main" id="action_main">
                <div class="row">
                    <div class="col-sm-8" style="font-size: 14px; text-align: left;">
                        <div style="width: 100%;">
                            <span class="natural_or_other">
                                <input type="radio" name="nat_oth" id="nat_oth_n" value="natural" checked="checked" /><span>Natural</span>
                                <input type="radio" name="nat_oth" id="nat_oth_o" value="other" /><span>Other</span>
                            </span>

                            <span class="display-natural" style="">
                                <span class="starreview">Star Review</span>&nbsp;&nbsp;
                                <input type="checkbox" name="mop_star_review" id="mop_star_review" value="1" />
                            </span>
                                <span class="display-other" style="">&nbsp;</span>

                            <span class="display-natural" style="">
                                <span class="btn-label icon fa fa-bookmark-o" style="padding-left:20px;">&nbsp;&nbsp;</span>Parent Post&nbsp;&nbsp;
                            </span>
                            <span class="display-other" style="">
                                <span class="btn-label icon" style="padding-left:20px;">®️&nbsp;&nbsp;</span>Referrer&nbsp;&nbsp;
                            </span>

                            <input type="checkbox" name="mop_parent_post" id="mop_parent_post" value="1" />

                            <span class="btn-label icon fa  fa-sort-amount-desc" style="padding-left:20px; color:#e3a531">&nbsp;&nbsp;
                                <span>Define as Children</span>&nbsp;&nbsp;
                                <input id="mop_define_as_child" value="1" type="checkbox">
                            </span>
                            {# ==================================================================================================== #}
                            <div id="mop_actionpostparent" style="z-index: 11 ! important; height: auto; text-align: left;">
                                <div class="bandeau">
                                    <!-- parent post/referrer selector -->
                                    <div id="mop_parentpostselector" style="float:left; width:70%; z-index:4!important;">
                                        <div class="col-sm-12" style="padding:30px 0 15px 0;">
                                            <h5 style="padding:0 0 0 10px; color:purple;">
                                                <span class="find-pprf">
                                                    <span class="display-natural" style="">
                                                        Parent Post
                                                    </span>
                                                    <span class="display-other" style="">
                                                        Referrer
                                                    </span>
                                                </span>
                                                 Selector:
                                            </h5>

                                            <div class="form-group" style="z-index:11!important;">
                                                <label for="mop_jq-validation-select2" class="col-sm-2 control-label">Winemaker + Domain:</label>
                                                <div class="col-sm-10" style="z-index:11!important;">
                                                    <select class="form-control" name="mop_jq-validation-select2" id="mop_jq-validation-select2">
                                                        <option selected="selected"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group" style="z-index:11!important;">
                                                <label for="mop_jq-validation-select2-multi" class="col-sm-2 control-label">Wine:</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" name="mop_jq-validation-select2-multi" id="mop_jq-validation-select2-multi" {# multiple="multiple" #}>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group wine_status" style="z-index:11!important; display: none;">
                                                <label class="col-sm-2 control-label">Status:</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control wine_status_dropdown" name="wine_status">
                                                        <option value="Not natural">Not natural</option>
                                                        <option value="Bio-organic">Bio-organic</option>
                                                        <option value="In doubt">In doubt</option>
                                                        <option value="To investigate">To investigate</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end col-sm-8-->
                                    </div>
                                    <!--end parent post/referrer selector-->

                                    <div style="float:right; padding:80px 80px 0 0;">
                                        <button id="mop_ui-bootbox-change-parent-confirm" class="btn btn-lg btn-success">CONFIRM</button>&nbsp;&nbsp;
                                        <button id="mop_ui-bootbox-change-parent-cancel" class="btn btn-lg btn-cancel">Cancel</button>
                                    </div>
                                </div>

                            </div>
                            {# ==================================================================================================== #}
                            <hr class="no-panel-padding-h" style="margin-top: 0px; margin-bottom: 30px;">
                        </div>
                    </div>
                    <div class="col-sm-4" style="text-align: left;">
                        <!--<h3><span class="action_item_number">[XX]</span> entries selected</h3> What do you want to do?&nbsp;&nbsp;&nbsp;-->
                        <div class="row">
                            <div class="col-sm-4">
                                <button id="ui-bootbox-delete" class="btn btn-lg btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="col-sm-8">
                                <button id="ui-bootbox-undelete" class="btn btn-lg btn-info">Undelete</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <button id="ui-bootbox-publish" class="btn btn-lg btn-success">Natural</button>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="col-sm-8">
                                <button id="ui-bootbox-refuse" class="btn btn-lg btn-danger">Not Natural</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <button id="ui-bootbox-unpublish" class="btn btn-lg btn-info">Draft</button>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="col-sm-8">
                                <button id="ui-bootbox-indoubt" class="btn btn-lg btn">In Doubt</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <button id="ui-bootbox-bioorg" class="btn btn-lg btn-warning">Bio-Organic</button>&nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="col-sm-8">
                                <button id="ui-bootbox-cancel" class="btn btn-lg btn-cancel" data-toggle="collapse" data-target="#actionpost">Cancel</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="ui-bootbox-mop-not-wine" class="btn btn-lg btn-cancel">NOT WINE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bandeau action-confirm" id="action_refuse_confirm" style="display: none;">
                <h3>You are about to refuse <span class="action_item_number">[XX]</span> Entries</h3>
                <div class="panel-body">
                    <button id="ui-bootbox-refuse-cancel" class="btn btn-lg btn-info">Don't set as Not Natural</button>
                    <button id="ui-bootbox-refuse-confirm" class="btn btn-lg btn-warning">Set as Not Natural</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="bandeau action-confirm" id="action_delete_confirm" style="display: none;">
                <h3>You are about to delete <span class="action_item_number">[XX]</span> </h3>
                <div class="panel-body">
                    <button id="ui-bootbox-delete-cancel" class="btn btn-lg btn-info">Don't Delete</button>
                    <button id="ui-bootbox-delete-confirm" class="btn btn-lg btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
