{% extends "base/layout.html" %}

{% load static %}
{% load i18n %}

{% block title %}Referee posts for wines by '{{ winemaker.name }}' - Raisin{% endblock %}

{% block additional_buttons %}
    <a href="{% url 'winemaker_star_reviews' id=winemaker.id %}" class="btn btn-lg btn-labeled fa fa-star opt starrvs" role="button" data-toggle="tooltip" title="Star Reviews for wines by '{{ winemaker.name }}'" data-placement="top"></a>
    <a href="{% url 'edit_winemaker' id=winemaker.id %}" class="btn btn-lg btn-labeled fa fa-pencil opt" role="button"  data-toggle="tooltip" title="Return to winemaker '{{ winemaker.name}}'" data-placement="top"></a>
    <a href="{% url add_wm_url %}" class="btn btn-lg btn-labeled fa fa-plus opt add" role="button" data-toggle="tooltip" title="Add New Winemaker" data-placement="top"></a>
{% endblock additional_buttons %}

{% block additional_styles %}
    <link href="{% static 'assets/stylesheets/list/wineposts.css' %}" rel="stylesheet" type="text/css">
{% endblock additional_styles %}

{% block main_content %}
{% verbatim %}
<script>
    var url_winepost_items_ajax = "{% endverbatim %}{% url 'get_winepost_referee_items_for_winemaker_ajax' id=winemaker.id %}{% verbatim %}";
    var table_title = "Referee posts for wines by {% endverbatim %}'{{ winemaker.name }}'{% verbatim %}";

</script>
{% endverbatim %}

<script src="{% static 'assets/javascripts/lists/list.pipeline.js' %}"></script>
<script src="{% static 'assets/javascripts/lists/list.wineposts.data-table-factory.js' %}"></script>
<script src="{% static 'assets/javascripts/lists/list.wineposts.pro.for.winemaker.js' %}"></script>

<div class="table table-striped vmiddle">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example" >
        <thead>
            <tr>
                <th style="width:15px"><br><input type="checkbox" id="toggle-all" name="check-all" /></th>
                <th style="width:40px">Picture</th>
                <th>Date</th>
                <th style="min-width: 150px;">Author</th>
                <th>Wine Post</th>
                <th>Description</th>
                <th>Status</th>
                <!--<th>Winemaker</th>-->
                <th>Domain</th>
                <th>Wine Region</th>
                <th>Grape variety</th>
                <th>Region</th>
                <th>Year</th>
                <th>Color</th>
                <th>Spark.</th>
                <th>Geolocation</th>
                <th><i class="fa fa-comments" data-toggle="tooltip" title="comments" data-placement="top"></i></th>
                <th><i class="fa fa-heart" data-toggle="tooltip" title="likes" data-placement="top"></i></th>
                <th><img src="../img/drank-it-too.gif" alt="drank-it-too" width="13" height="12"  data-toggle="tooltip" title="Drank it too!" data-placement="top"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div><!-- end jquery table jhb -->

{% include 'base/elements/lists/action_footer_wineposts_pro.html' %}

{% endblock %}

{% block additional_bottom_scripts %}
    {% include 'base/elements/bottom_js_list.html' %}
{% endblock additional_bottom_scripts %}