{% load static %}
<!DOCTYPE html>
<html lang="fr"><head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Raisin - Activation de compte</title>
  </head>
  <body style="background-color:#f5f6fa;padding:0;margin:0;" bgcolor="#f5f6fa">
    <div style="padding:0;margin:0;background-color:#f5f6fa" bgcolor="#f5f6fa">

      <table style="background-color:#f5f6fa;min-width:320px" class="sizefull" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f5f6fa">
  			<tbody>
          <tr>
  				  <td style="line-height:1.4!important;padding:0 15px" class="sizefull">

  					  <table style="max-width:600px;margin:0 auto" class="sizebig" cellspacing="0" cellpadding="0" align="center">
  						  <tbody>
                  <tr>
                    <td style="padding:48px 0;text-align: center;" class="sizebig" align="center">
                     <a href="https://pro.raisin.digital/fr/" target="_blank"><img src="{{site_url}}{% static 'pro_assets/img/new-raisin-pro.png' %}" alt="Raisin Pro" style="width:200px; height:auto; color:#262a3e; vertical-align:top; border:none;" width="200" height="44"></a>
                    </td>
  						    </tr>
  				        <tr>
      							<td style="line-height:1.4!important;padding:0 0 24px">
      								<table width="100%" cellspacing="0" cellpadding="0" align="center">
      									<tbody>
                          <tr>
        										<td style="background-color:#fff;line-height:1.4!important; padding: 0;" bgcolor="#fff">
        											<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        												<tbody>
                                  <tr>
          													<td style="line-height:1.4!important;padding:40px 0">
          														<table style="max-width:700px;margin:20px;" cellspacing="0" cellpadding="0" border="0" align="center">
          															<tbody>
                                          <tr>
            																<td colspan="2">
            																	<h1 style="text-align:center; color:#262a3e; font:700 40px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;">Bonjour {{ establishment_name }},<br>
                                              <small style="color:#262a3e; font:24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;">Bienvenue sur votre compte Raisin Pro. !</small></h1>
            																</td>
            															</tr>
                                      
                                          <tr><td colspan="2"><img src="{{site_url}}{% static 'pro_assets/img/line.gif' %}" alt="line" width="550" height="30"></td></tr>
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          
                                          <tr>
                                            <td colspan="2" style="text-align:center; color:#262a3e; font:700 24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;">VOS INFORMATIONS POUR ACCÉDER<br>À VOTRE COMPTE</td>
                                          </tr>
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr>
                                            <td colspan="2" style="color:#262a3e; font:24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;" align="center">
                                              Identifiant : {{ username }}</td>
                                          </tr>
                                          <tr>
                                            <td colspan="2" style="color:#262a3e; font:24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;" align="center">
                                              E-mail : {{ email }}</td>
                                          </tr>
                                          
                                          
                                         
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr>
                                            <td colspan="2" align="center">
                                              <a href="{{ link }}" style="font:24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; outline:none;color:#ffffff;text-decoration:none; background-color:#69b169; padding: 10px 20px; display: inline-block" target="_blank">Activer votre compte</a>
                                            </td>
                                          </tr>
                                          
                                           <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr><td colspan="2"><img src="{{site_url}}{% static 'pro_assets/img/line.gif' %}" alt="line" width="550" height="30"></td></tr>
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          
                                          <tr>
                                          </tr><tr>
                                            <td colspan="2" style="text-align:center; color:#262a3e; font:700 24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                                              💻 CONNECTEZ-VOUS À VOTRE<br>TABLEAU DE BORD</td>
                                          </tr>
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr>
                                            <td>
                                              </td></tr><tr>
                                                <td style="padding-left: 20px;" width="49%" align="left">
                                                  <a href="https://pro.raisin.digital/" style="color:#69b169; font:24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;">https://pro.raisin.digital</a> 
                                                  <br><small style="color:#262a3e; font:20px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;">(en haut à droite)</small>
                                                </td>
                                                 <td style="padding-right: 20px; " width="49%" align="right">
                                                  <img src="{{site_url}}{% static 'pro_assets/img/computer-pro-img.png' %}" alt="Raisin Pro computer icon" style="width:80%; height:auto;vertical-align:middle;border:none;">
                                                </td>
                                              </tr>
                                            
                                          
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr><td colspan="2"><img src="{{site_url}}{% static 'pro_assets/img/line.gif' %}" alt="line" width="550" height="30"></td></tr>
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr>
                                          </tr><tr>
                                            <td colspan="2">
                                              <table width="100%">
                                                <tbody>
	                                             <tr>
                                                    <td colspan="2">
                                                      <h1 style="text-align:center; color:#262a3e; font:700 24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">🍷 🍽 POSTEZ VOS VINS &amp; PLATS</h1>
                                                      <p style="text-align:center; color:#262a3e; font:400 22px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">sur l'application depuis votre téléphone!</p>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td width="35%"><br><img src="{{site_url}}{% static 'pro_assets/img/iphone-en.png' %}" alt="Raisin app preview" style="width:100%; height:auto;vertical-align:bottom;border:none; padding-top:20px;"></td>
                                                    <td style="padding-left: 10px; color:#262a3e; font:700 24px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-top:40px;" align="left"><br>Téléchargez
 la dernière version de Raisin et connectez-vous avec vos identifiants 
ci-dessus liés à votre compte Raisin Pro.                               
                     </td>
                                                  </tr>
                                                  <tr>
                                                        <td colspan="2" style="padding-left: 20px; color:#262a3e; font:20px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;" align="left"><br>Si
 vous possédez déjà un compte personnel Raisin distinct de votre compte 
Pro., veuillez vous déconnecter de l'application en allant dans :<br>Profil → En haut à droite → Déconnexion.<br>Vous pouvez maintenant vous connectez à votre compte Pro.
                                                        </td>
                                                      </tr>
                                                </tbody>
                                              </table>     
                                                      
                                                </td>
                                              </tr>
                                               <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr><td colspan="2"><img src="{{site_url}}{% static 'pro_assets/img/line.gif' %}" alt="line" width="550" height="30"></td></tr>
                                          <tr><td colspan="2">&nbsp;</td></tr>
                                          <tr>
                                              </tr><tr>
                                                        <td colspan="2" style="color:#262a3e; font:18px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 20px;">  Si vous avez des questions,<br>veuillez nous contacter : 💌 <a href="mailto:pro@raisin.digital" style="color:#69b169; font:18px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;">pro@raisin.digital</a>
                                                        </td>
                                                      </tr>    
                                              
                                              
                                            
                                          
            														</tbody>
                                      </table>
          													</td>
          												</tr>
                                </tbody>
                              </table>
        										</td>
        									</tr>
                          
                          <tr>
              							<td style="line-height:1.4!important">
              								<table style="max-width:600px;margin:0 auto" class="sizebig" cellspacing="0" cellpadding="0" align="center">
              									<tbody>
                                  <tr>
                										<td style="color:#82879e;text-transform:uppercase;padding:0 0 8px;font:12px/1.4 'Helvetica Neue',Helvetica,Arial,sans-serif" align="center">
                										</td>
                									</tr>
                									<tr>
                                                    	<td style="padding:30px 20px;text-align:center;font:300 14px/1.2 'Helvetica Neue',Helvetica,Arial,sans-serif" align="center"><a href="https://pro.raisin.digital/fr/politique-confidentialite.html" style="outline:none;color:#b8bccc;text-decoration:none" target="_blank">Politique de confidentialité</a></td>
														<td style="padding:30px 20px;text-align:center;font:300 14px/1.2 'Helvetica Neue',Helvetica,Arial,sans-serif" align="center"><a href="https://pro.raisin.digital/fr/gcu.html" style="outline:none;color:#b8bccc;text-decoration:none" target="_blank">Conditions générales d’utilisation</a></td>
													</tr>
                								</tbody>
                              </table>
              							</td>
              						</tr>
                          <tr><td colspan="2">&nbsp;</td></tr>
                          <tr><td colspan="2">&nbsp;</td></tr>
        								</tbody>
                      </table>
      							</td>
      						</tr>

      					</tbody>
              </table>
    				</td>
    			</tr>
        </tbody>
      </table>

    </div>
  

</body></html>