{% extends "base/layout.html" %}

{% load static %}
{% load widget_tweaks %}

{% load i18n %}

{% block title %}Password update - provide a new password{% endblock %}


{% block additional_scripts %}
    <!-- ICI to duplicate forms  -->
    {# ----- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> ------ #}
    <script type="text/javascript" src="{% static 'assets/javascripts/libs/clone-form-td.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/javascripts/json2.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'assets/javascripts/edit/edit.user.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'assets/javascripts/pdg-widget.js' %}"></script>-->
    <!-- end to duplicate forms  -->
{% endblock additional_scripts %}


{% block additional_styles %}
    <!--<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.2.17/jquery.timepicker.min.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'assets/stylesheets/edit/user.css' %}" />-->
{% endblock additional_styles %}


{% block main_content %}
<div class="panel user-edit">
    <form accept-charset="UTF-8" id="password_reset_form" method="POST" action="{% url 'reset_password_confirm' uid=uid token=token %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <!-- ------------------------------- informations and opening hours ------------------------- -->
            <div class="row">
                <div class="col-sm-6" style="padding:20px;">
                    {% if error_message %}
                        <p><b>Error:</b> {{ error_message }}.</p>
                    {% elif is_finished %}
                        <p>Password for user <b>{{ user.username }}</b> has been successfully changed. You can now <a href="{% url 'list_places' %}">login</a> into Raisin Pro (app or website).<br /></p>
                    {% elif is_canceled %}
                        <p>Password reset for user <b>{{ user.username }}</b> has been canceled</p>
                    {% else %}
                        <div class="form-group">
                            <label for="{{ form.password1.id_for_label }}" class="col-sm-4 control-label">{{ form.password1.label }}</label>
                            <div class="col-sm-8">
                                {{ form.password1|add_class:"form-control" }}
                                {{ form.password1.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password2.id_for_label }}" class="col-sm-4 control-label">{{ form.password2.label }}</label>
                            <div class="col-sm-8">
                                {{ form.password2|add_class:"form-control" }}
                                {{ form.password2.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <button data-target="#" type="cancel" name="cancel" class="btn btn-block btn-cancel"  id="update_cancel_button" >
                                    Cancel
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button data-target="#" type="submit" class="btn btn-block btn-success" id="update_submit_button">
                                    Update password
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>


        </div>
    </form>
</div>
{% endblock main_content%}
