{% extends "base/layout.html" %}

{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load web_extras %}

{% block title %}Testimonial - Testimonial View - Raisin{% endblock %}

{% block additional_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        var url_translate_dd = "{% url 'translate_testimonial_ajax' %}";
        var url_clear_dd = "{% url 'clear_testimonial_ajax' %}";
        {% if testimonial %}
        var testimonial_id = {{ testimonial.id }};
        {% else %}
              var testimonial_id = null;
        {% endif %}
    </script>
    

    {% verbatim %}

    <script type="text/javascript">
      var max_upload_size = '{% endverbatim %}{{ max_upload_size }}{% verbatim %}';

    </script>  

{% endverbatim %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
    <script src="{% static 'assets/javascripts/jquery-ui-sortable.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>


    
{% endblock additional_scripts %}


{% block additional_styles %}
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
    <link rel="stylesheet" href="{% static 'assets/css/news.css' %}">
    
    <!-- map google  -->
     <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <style>

        </style>

{% endblock additional_styles %}

{% block main_content %}
{% verbatim %}
    <style type="text/css">
        .d-flex{
            display: flex;
        }
        .align-items-center{
            align-items: center;
        }
        .flex-column{
            flex-direction: column;
        }
        .label_input{
            text-align: start;
            margin-left: 10px;
        }
    </style>
{% endverbatim %}

    <div class="panel" style="font-size:16px!important;">
        <form id="placeform" novalidate accept-charset="UTF-8" action="{{ action_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'pdg-widget-testimonial.html' %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible show" role="alert">
                      <strong>Success!</strong> {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 text-left">
                        <div class="form-group">
                            <label for="id_image_event">Image:</label>
                            <div class="row d-flex align-items-center flex-column">
                                <div class="col-md-12">
                                    <img src="{% if image %}{{ image }}{% else %}{% static 'assets/img/missing.gif' %}{% endif %}" alt=""  class="img-responsive">
                                </div>
                                <div class="col-md-12">
                                    <script>
                                        init.push(function () {
                                            //$('#styled-finputs-example').pixelFileInput({ placeholder: 'No file selected...' });
                                        $('#id_image').pixelFileInput({ placeholder: 'No file selected...' });
                                        })
                                    </script>
                                    {{ form.image }}
                                    {{ form.image.errors }}
                                </div>
                            </div>
                            {{ form.current_translations }}
                            <ul id="image_error_list" class="errorlist" hidden>
                            <li id="image_error">{% trans 'Maximum File Size Limit is' %} {{ max_upload_size }} kB.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-9">   
                        <div class="form-group text-left">
                            <label for="username" class="control-label">{{ form.username.label }}</label>
                            <div>
                                {{ form.username|add_class:"form-control" }}
                                {{ form.username.errors }}
                            </div>
                        </div>    
                        <div class="form-group text-left">
                            <label for="title" class="control-label">{{ form.title.label }}</label>
                            <div>
                                {{ form.title|add_class:"form-control" }}
                                {{ form.title.errors }}
                            </div>
                        </div>                         
                        <div class="form-group text-left">
                            <label for="id_content" class="control-label">{{ form.testimonial.label }}</label>
                            <div>
                                {{ form.testimonial|add_class:"form-control" }}
                                {{ form.testimonial.errors }}
                            </div>
                        </div>
                        <div class="d-flex-lang">
                            <div id="dd_tr_translate" class="form-group dd-tr-translate">
                                <label >{{ form.original_language.label }}:</label>
                                {{ form.original_language }}
                                <input type="button" id="btn_trans" class="btn btn-info" value="TRANSLATE" />
                            </div>
                            <div id="dd_tr_translations" class="form-group dd-tr-translations" style="display: none;">
                                <label> {{ form.selected_language.label }}:</label>
                                {{ form.selected_language}}
                                {# <!--<input type="button" id="btn_trans_update" class="btn btn-warning" value="UPDATE THIS VERSION" style="margin-left: 15px; "/>--> #}
                                <div class="text-left id-trans-footer" style="" id="id_trans_footer"></div>
                            </div>                            
                            <a href="#" class="clear-all-btn" onclick="TransEngine.clear_dd_translations(); return false;"> <i class="fa fa-times-circle"></i> Clear all</a>
                        </div>
                        <div class="form-group text-left">
                            <label for="date" class="control-label">{{ form.date.label }}</label>
                            <div>
                                {{ form.date|add_class:"form-control" }}
                                {{ form.date.errors }}
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:none">
                    {{ form.status }}
                    {{ form.language }}
                </div>
                <div class="loader"><img src="{% static 'pro_assets/img/preloading.gif' %}" alt="preloading Raisin Pro website" width="60" height="100"></div>
                {% include 'edit/8-first-testimonials.html' %}
            </div> {# end of container-fluid #}
            
        </form>
    <!-- fin colonne 12-->
    </div><!-- enf of profile-full-name -->

{% endblock main_content %}

{% block additional_bottom_scripts %}
<script src="{% static 'assets/javascripts/list-item-operations.js' %}"></script>
<script type="text/javascript">
    var venue_id = "{{ venue_id }}"
</script>
<script src="{% static 'assets/javascripts/edit.testimonial.js' %}" ></script>
<script src="{% static 'assets/javascripts/tinymce.min.js' %}"></script>
<script src="{% static 'assets/javascripts/edit/edit.description.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/javascripts/pdg-widget.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/javascripts/language-widget.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/javascripts/type-widget.js' %}"></script>
{% endblock additional_bottom_scripts %}