{% extends "base/layout.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Places - Home - Raisin{% endblock %}

{% block additional_styles %}
    <link href="{% static 'cities/js/autocomplete/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'cities/css/added-jhb.css' %}" rel="stylesheet" type="text/css">
{% endblock additional_styles %}

{% block additional_scripts %}
    <script src="{% static 'cities/js/cities_update.js' %}"></script>
    <script src="{% static 'cities/js/autocomplete/jquery.autocomplete.min.js' %}"></script>
    
    <script src="{% static 'assets/javascripts/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        function getCookie(name) {
          let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
          ));
          return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        

    
        $(document).ready(function () {
            if (window.location.href.indexOf("cities") > -1) {
                console.log("active")
                $("a[href='/cities/']").parents("li").addClass("active")
            }
            $('#autocomplete').devbridgeAutocomplete({
                paramName: 'search',
                serviceUrl: '/api/cities_autocomplete/',
                onSelect: function (suggestion) {
                    window.location = suggestion.url
                    {#alert('You selected: ' + suggestion.value + ', ' + );#}
                }
            });
            $('#autocomplete_district').devbridgeAutocomplete({
                paramName: 'search',
                serviceUrl: '/api/cities_autocomplete/',
                onSelect: function (suggestion) {
                    window.location = suggestion.url
                    {#alert('You selected: ' + suggestion.value + ', ' + );#}
                }
            });
            
            if ($('#jq-datatables-example tr').length < 11) {
                $('.dataTables_paginate').addClass("hidden");
            }
               
        })
    </script>
    <script type="text/javascript">
        tinymce.init({
            selector: "#description_{{ language_code }}",      
            plugins: [
                'code autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            height: 300,
            menubar: false,
            toolbar: 'code | undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: (cb, value, meta) => {
                const input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');    
                input.addEventListener('change', (e) => {

                    const file = e.target.files[0];             
                    var formData = new FormData();

                    formData.append('image', file, file.name);

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/api/images/save-image/', true);
                    
                    function setHeaders(headers){
                    for(let key in headers){
                        xhr.setRequestHeader(key, headers[key]) 
                    }
                    }

                    var csrf = $("input[name=csrfmiddlewaretoken]").val();

                    setHeaders({"csrfmiddlewaretoken":csrf,"X-CSRFToken": getCookie("csrftoken")});
                    var spinner = "<div class='spinnerLoading'><div>";

                    $("body").append(spinner)
                    xhr.onload = function () {              
                        if (xhr.status === 200) {
                        const reader = new FileReader();
                        reader.addEventListener('load', () => {
                            const id = 'blobid' + (new Date()).getTime();
                            const blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                            const base64 = reader.result.split(',')[1];
                            const blobInfo = blobCache.create(id, file, base64);
                            blobCache.add(blobInfo);
                            cb(xhr.responseText.replaceAll('"', ''), { title: xhr.responseText.replaceAll('"', '') });
                            $(".spinnerLoading").remove();
                        });
                        reader.readAsDataURL(file);
                        } else {
                        console.log("try again!!")
                        }
                    };
                    xhr.send(formData);
                });
                input.click();
            },
        });
        
    </script>
    <script type="text/javascript">
        function handleSelect(elm)
        {
            window.location = '?page_size='+elm.value;
        }
        function handleOrdering(elm)
        {
            page_size = {{ page_size|default:10 }}
            window.location = '?page_size='+page_size+'&order_by='+elm.dataset.ordering;
        }
    </script>
{% endblock additional_scripts %}

{% block main_content %}
{% endblock %}