<div class="table-footer clearfix">
    <div class="DT-label">
        <div class="dataTables_info" id="jq-datatables-example_info" role="alert" aria-live="polite" aria-relevant="all">Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} entries</div>
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="DT-pagination">
        <div class="dataTables_paginate paging_simple_numbers" id="jq-datatables-example_paginate">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="paginate_button previous" aria-controls="jq-datatables-example" tabindex="0" id="jq-datatables-example_previous">
                        <a href="?{% if search_name %}name={{ search_name }}&{% endif %}{{ page_attr_name|default:'page' }}={{ page_obj.previous_page_number }}&page_size={{ page_size }}">Previous</a>
                    </li>
                    <li  class="paginate_button" aria-controls="jq-datatables-example" tabindex="0">
                        <a href="?{% if order_by %}order_by={{ order_by }}&{% endif %}{% if search_name %}name={{ search_name }}&{% endif %}{{ page_attr_name|default:'page' }}=1&page_size={{ page_size }}">1</a>
                    </li>
                {% endif %}
                {% if page_obj.has_previous and page_obj.number > 3 %}
                    <li class="paginate_button" aria-controls="jq-datatables-example" tabindex="0">
                        <a href="#">...</a>
                    </li>
                {% endif %}
                {% if page_obj.has_previous and page_obj.previous_page_number > 1 %}
                    <li class="paginate_button" aria-controls="jq-datatables-example" tabindex="0">
                        <a href="?{% if order_by %}order_by={{ order_by }}&{% endif %}{% if search_name %}name={{ search_name }}&{% endif %}{{ page_attr_name|default:'page' }}={{ page_obj.previous_page_number }}&page_size={{ page_size }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="paginate_button active" aria-controls="jq-datatables-example" tabindex="0">
                    <a href="#">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next and page_obj.next_page_number < page_obj.paginator.num_pages %}
                    <li class="paginate_button" aria-controls="jq-datatables-example" tabindex="0">
                        <a href="?{% if order_by %}order_by={{ order_by }}&{% endif %}{% if search_name %}name={{ search_name }}&{% endif %}{{ page_attr_name|default:'page' }}={{ page_obj.next_page_number }}&page_size={{ page_size }}">{{ page_obj.next_page_number }}</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next and page_obj.next_page_number < page_obj.paginator.page_range|slice:"-2:"|first %}
                    <li class="paginate_button" aria-controls="jq-datatables-example" tabindex="0">
                        <a href="#">...</a>
                    </li>
                {% endif %}
                {% if page_obj.paginator.num_pages > 1  and page_obj.paginator.num_pages != page_obj.number %}
                    <li class="paginate_button" aria-controls="jq-datatables-example" tabindex="0">
                        <a href="?{% if order_by %}order_by={{ order_by }}&{% endif %}{% if search_name %}name={{ search_name }}&{% endif %}{{ page_attr_name|default:'page' }}={{ page_obj.paginator.num_pages }}&page_size={{ page_size }}">{{ page_obj.paginator.num_pages }}</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="paginate_button next disabled" aria-controls="jq-datatables-example" tabindex="0" id="jq-datatables-example_next">
                    <a href="?{% if order_by %}order_by={{ order_by }}&{% endif %}{% if search_name %}name={{ search_name }}&{% endif %}{{ page_attr_name|default:'page' }}={{ page_obj.next_page_number }}&page_size={{ page_size }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>