<!DOCTYPE html>
<html lang="fr">
  <head>
	<META NAME="robots" CONTENT="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Raisin Pro: Get the RAISIN ELECTROSTATIC STICKER">
    <meta name="keywords" content="natural wine, food lovers, natural wine">
    <title>Raisin Pro: Get the RAISIN ELECTROSTATIC STICKER</title>
    
    <!-- Styles -->
    <link href="../../../../web/static/pro_assets/css/page.min.css" rel="stylesheet">
    <link href="../../../../web/static/pro_assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../../../web/static/pro_assets/img/apple-touch-icon.png">
    <link rel="icon" href="../../../../web/static/pro_assets/img/favicon.png">
    
    <style>
	     .table-cart img {
    max-height:180px!important;}
    </style>

    
  <script src = "https://js.chargebee.com/v2/chargebee.js" data-cb-site="raisin" > </script>

  </head>
  <body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
      <div class="container">

        <div class="navbar-left mr-4">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="/">
            <img class="logo-dark" src="../../../../web/static/pro_assets/img/raisin-pro-gray-300-66.png" width="152" height="30" alt="logo">
            <img class="logo-light" src="../../../../web/static/pro_assets/img/logo-light.png" alt="logo">
          </a>
        </div>

		<section class="navbar-mobile">
          <nav class="nav nav-navbar mr-auto">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="#" style="text-decoration: underline;">RAISIN ELECTROSTATIC STICKER</a>
          </nav>
		</section>
		
      </div>
    </nav><!-- /.navbar -->


    <!-- Header -->
    <header class="header bg-gray">
      <div class="container">
        <h1 class="display-4">🍷 Show your love for natural wine!</h1>
        <p class="lead-2 mt-6">Get the RAISIN ELECTROSTATIC STICKER to hang proudly on your storefront window, and let the neighborhood know you are a destination for 🍇 natural wine and 🍽️ food lovers! </p>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">

      <section class="section">
        <div class="container">

          <form class="row gap-y">
            <div class="col-lg-8">

              <table class="table table-cart">
                <tbody valign="middle">
                  <tr>
                    <td>
                        <a href=""><img class="rounded" data-provide="lightbox" src="../../../../web/static/pro_assets/img/RAISIN_STICKER.jpg" style="width:120px;" alt="..."></a>
                      </a>
                    </td>

                    <td style="width: auto">
                      <h5>RAISIN ELECTROSTATIC STICKER </h5>
                      <p>5.90 x 8.66 In</p>
                    </td>

                    <td>
                      <h4 class="price">$20</h4>
                    </td>
                  </tr>
              </tbody>
              </table>      
        <div class="alert alert-warning" role="alert"><strong>ONLY ELIGIBLE</strong> establishments can buy a sticker. <strong>NO REFUNDS will be MADE</strong>.</div>
             
            </div>


            <div class="col-lg-4">
              <div class="cart-price">
                <div class="flexbox">
                  <div>
                    <p><strong>Subtotal:</strong></p>
                    <p><strong>Shipping:</strong></p>
                    <p><strong>Tax:</strong></p>
                  </div>

                  <div>
                    <p>$20</p>
                    <p>$5</p>
                    <p>--</p>
                  </div>
                </div>

                <hr>

                <div class="flexbox">
                  <div>
                    <p><strong>Total:</strong></p>
                  </div>

                  <div>
                    <p class="fw-600">$25</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                 &nbsp;
                </div>



                <div class="col-6">
                  <button class="btn btn-block btn-primary" type="submit" data-cb-type = "checkout"  data-cb-plan-id = "raisin-electrostatic-sticker-$25-[us]-[tax:world]">BUY <i class="ti-angle-right fs-9"></i></button>
                </div>
              </div>

            </div>
          </form>



        </div>
      </section>


      


    </main>


    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row gap-y align-items-center">

          <div class="col-6 col-lg-3">
            <a href="/"><img src="../../../../web/static/pro_assets/img/raisin-pro-gray-300-66.png" width="150" height="66" alt="logo"></a>
          </div>

          <div class="col-6 col-lg-3 text-right order-lg-last">
            <div class="social">
              <a class="social-facebook" href="https://www.facebook.com/naturalwineapp"><i class="fa fa-facebook"></i></a>
              <a class="social-twitter" href="https://twitter.com/naturalwineapp"><i class="fa fa-twitter"></i></a>
              <a class="social-instagram" href="https://www.instagram.com/naturalwineapp/"><i class="fa fa-instagram"></i></a>
              
            </div>
          </div>

          <div class="col-lg-6">
            <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center">
            </div>
          </div>

        </div>
      </div>
    </footer><!-- /.footer -->

    <!-- Scripts -->
    <script src="../../../../web/static/pro_assets/js/page.min.js"></script>
    <script src="../../../../web/static/pro_assets/js/script.js"></script>

  </body>
</html>
