<!--
<form class="card tab-pane fade" id="tab6">
  <h4 class="card-title fw-400">Email Settings</h4>

  <div class="card-body">

    <div class="form-group">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="switch-indicator"></span>
        <span class="switch-description">Email me when an invoice is sent</span>
      </label>
    </div>

    <div class="form-group">
      <label class="switch">
        <input type="checkbox">
        <span class="switch-indicator"></span>
        <span class="switch-description">Email me when an invoice is viewed</span>
      </label>
    </div>

    <div class="form-group">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="switch-indicator"></span>
        <span class="switch-description">Email me when an invoice is paid</span>
      </label>
    </div>

    <div class="form-group">
      <label class="switch">
        <input type="checkbox" checked>
        <span class="switch-indicator"></span>
        <span class="switch-description">Email me when a quote is approved</span>
      </label>
    </div>
  </div>
  <footer class="card-footer text-right">
    <button class="btn btn-flat btn-primary" type="submit">Save Changes</button>
  </footer>
</form>-->
