{% extends "base/elements/edit/pdg-widget.html" %}
{% load i18n %}
{% load web_extras %}


{% block pdg_title %}
<!--<span class="panel-title title-bar-main">{{ pdg_title|safe }}</span>-->
<span class="panel-title title-bar-main">
    {% if not is_new %}
        {% if pdg_validated_by and pdg_validated_at %}
            <span class="author-validated-by">
                {{ pdg_title }}
                <span class="panel-second-row"> - Posted by:
                    <span class="picture-bigger">
                        <a href="{% url 'edit_user' id=place.author_id %}">
                            <img src="{% if place.author %}{{ place.author.get_images.image }}{% endif %}" data-toggle="tooltip" title="{{ place.author }}" data-placement="bottom" />
                        </a>
                    </span>
                    - {{ pdg_validated_at|date:"M d, Y @ H:i" }} by <a href="{% url 'edit_user' id=pdg_validated_by.id %}">{{ pdg_validated_by }}</a>
                </span>
            </span>
        {% else %}
            <span class="author-validated-by">
                {{ pdg_title }}  
                <span class="panel-second-row">- Posted by:
                <span class="picture-bigger">
                    <a href="{% url 'edit_user' id=place.author_id %}">
                        <img src="{% if place.author %}{{ place.author.get_images.image }}{% endif %}" data-toggle="tooltip" title="{{ place.author }}" data-placement="bottom" />
                    </a>
                </span>
            </span>
            </span>

        {% endif %}
    {% else %}
        <span class="author-validated-by">
            [New Place]
        </span>
    {% endif %}
</span>
{% endblock pdg_title %}
