{% extends 'pro_base/layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}


{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TheAdmin - Responsive admin and web application ui kit">
    <meta name="keywords" content="admin, dashboard, web app, sass, ui kit, ui framework, bootstrap">
{% endblock meta %}

{% block title %}{% trans 'ESTABLISHMENT - Raisin Pro' %}{% endblock %}


{% block additional_fonts %}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
{% endblock additional_fonts %}



{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'pro_assets/css/tinymce.skin.min.css' %}">
{% endblock additional_styles %}

{% block additional_scripts %}
    <script type="text/javascript">
        var language = '{{ user_lang }}';
    </script>
    <script src="{% static 'pro_assets/js/tinymce.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'pro_assets/js/intlTelInput.min.js' %}"></script>
    <script src="{% static 'pro_starter/src/assets/vendor/dropzone/dropzone.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/heic.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/wine_food/imageInputHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/establishment/establishmentDataHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/establishment/hoursHolidaysHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/establishment/updateHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/utils.js' %}"></script>
    <script>
        var missingImage = "{% static 'pro_assets/img/missing-image.gif' %}",
            openingHoursUrl = '{% url "pro_opening_hours" %}',
            establishmentDataUrl = '{% url "pro_establishment_data" %}',
            token = "{{ csrf_token }}",
            establishmentImagesUrl = '{% url "pro_establishment_get_images" %}',
            establishmentLogoUrl = "{% url 'pro_establishment_image' %}",
            postEstablishmentHoursUrl = '{% url "pro_establishment_hours" %}',
            postEstablishmentPresentationUrl = '{% url 'pro_establishment_presentation' pid=pid %}',
            postEstablishmentRemoveLogoUrl = '{% url 'pro_establishment_remove_logo' pid=pid %}',
            postEstablishmentUpdateLogoUrl = '{% url 'pro_establishment_update_logo' pid=pid %}',
            postEstablishmentDeleteImgUrl = '{% url 'pro_establishment_delete_img' pid=pid %}',
            postEstablishmentInfoUrl = '{% url 'pro_establishment_info' %}',
            changed = 0;
    </script>
    <script src="{% static 'pro_assets/js/handlers/establishment/establishmentHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/establishment/establishmentInfoHandler.js' %}"></script>

{% endblock additional_scripts %}


{% block body %}
    {% include 'pro_base/navigation.html' %}

    <!-- Main container -->
    <main class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-3" style="overflow: auto;">
                    <div class="card products-card">
                        <ul class="nav nav-lg nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#presentation" data-toggle="tab" name="presentation">
                                    {% trans 'Presentation' %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#infos" data-toggle="tab" name="infos">
                                    {% trans 'Info' %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#map_tab" data-toggle="tab" name="map">
                                    {% trans 'Map' %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#opening" data-toggle="tab" name="opening">
                                    {% trans 'Opening / closing hours' %}
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                               <a class="nav-link" href="#tab6" data-toggle="tab">Email Notification</a>
                             </li>-->
                        </ul>
                    </div>
                </div>

                <button class="btn btn-secondary disabled sticky-save success" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Every change you make is automatically saved by Raisin PRO.' %}">
                {% trans 'All changes saved' %}
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="green" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path></svg>
                </button>

                <button class="btn btn-secondary disabled sticky-save error" data-toggle="tooltip"
                  data-placement="bottom" title="{% trans 'Something went wrong. Please refresh the page and try again. Contact us at contact@raisin.digital if this is a recurring issue.' %}">
                  {% trans 'Error saving changes' %}
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-circle" fill="red" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/></svg>
                </button>

                <div class="col-lg-9 tab-content raisin">
                    {% include 'admin/elements/establishment-presentation.html' %}
                    {% include 'admin/elements/establishment-info.html' %}
                    {% include 'admin/elements/establishment-map.html' %}
                    {% include 'admin/elements/establishment-hours.html' %}
                    {% include 'admin/elements/establishment-unused.html' %}
                </div>
            </div>
        </div><!--/.main-content -->

        {% include 'pro_base/footer.html' %}

    </main>
    <!-- END Main container -->

    {% include 'admin/elements/establishment-popups.html' %}
{% endblock body %}
