{% extends 'pro_base/layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}


{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TheAdmin - Responsive admin and web application ui kit">
    <meta name="keywords" content="admin, dashboard, web app, sass, ui kit, ui framework, bootstrap">
{% endblock meta %}

{% block title %}{% trans 'FOOD - Raisin Pro' %}{% endblock %}


{% block additional_fonts %}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
{% endblock additional_fonts %}

{% block additional_scripts %}
    <script type="text/javascript">
        var language = '{{ user_lang }}';
    </script>
    <script src="{% static 'pro_assets/js/handlers/wine_food/tableHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/wine_food/editFoodHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/heic.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/wine_food/imageInputHandler.js' %}"></script>
    <script src="{% static 'pro_assets/js/handlers/wine_food/inputHandler.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    {% verbatim %}
    <script id="food-template" type="text/x-handlebars-template">
      <a class="media media-single foodclass" href="#food-user-details" data-toggle="quickview" id="{{id}}" name="{{post_id}}">
        <img class="w-130px rounded" src="{{ref_image }}" alt="food">
        <div class="media-body food">
          <p class="fs-16"><strong>{{title}}</strong></p>
          <p class="name fs-14 mtn-5">{{description}}</p>
          <p class="name fs-14 mtn-5">&nbsp;</p>
        </div>
        <small class="bottom-right-icon">{{modified_time_human}}</small>
      </a>
    </script>
    {% endverbatim %}
    <script type="text/javascript">
        var overscopePage = 'food';

        var missingFoodImage = "{% static 'pro_assets/img/food/food-void-min.png' %}",
            missingWineImage = "{% static 'pro_assets/img/wines/void.gif' %}",
            missingImage = "{% static 'pro_assets/img/missing-image.gif' %}",
            foodListUrl = '/pro/ajax/v2/foodposts/?&place_id={{pid}}';
            userLang = '{{user_lang}}';
        var section_titles = {
            'food': "{{ section_titles.food }}",
        }

        var you_search_text = "{{ you_search_text }}";

        // Keeps track of user changes on page - it's required for invoking SAVE BEFORE LEAVING modal
        var changed = 0;
    </script>
    <script src="{% static 'pro_assets/js/handlers/wine_food/foodHandler.js' %}"></script>

{% endblock additional_scripts %}

{% block body %}
    {% include 'pro_base/navigation.html' %}
    <!-- Main container -->
    <main class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-md-4 offset-md-8">
                    <form action="#" class="lookup lookup-right">
                        <input type="text" id="list-search-food" placeholder="{% trans 'Search' %}">
                        <span class="clear-search input-group-text" id="clear-search" style="display: inline;"><i class="fa fa fa-times"></i></span>
                    </form>
                </div>
            </div>
            <br>

            {% for food, config in food_config.items %}
            <div class="media-list media-list-divided media-list-hover" data-provide="selectall" id="{{food}}">
                <!-- wines list -->
                <div class="card products-card">
                    <div class="card-title">
                        <header class="flexbox align-items-center media-list-header bg-transparent b-0 pl-20">
                            <div class="flexbox align-items-center">
                                <h3 id="category-title-{{food}}">{% trans config.capitalised  %}</h3>
                                <div class="dropdown" id="{{food}}-sort">
                                    <select data-provide="selectpicker" id="list-select-sorting-{{food}}">
                                        <option value="date" selected>{% trans 'Date' %}</option>
                                        <option value="title">{% trans 'Name' %} </option>
                                        <option value="description">{% trans 'Caption' %}</option>
                                    </select>
                                </div>
                            </div>
                        </header>
                    </div>
                    <div class="row" id="result-{{food}}">
                        <div class="spinner-dots-list" style="display: none"><img src="/static/pro_assets/img/preloading.gif" alt="preloading Raisin Pro website" width="60" height="100"></div>
                        <div class="col-lg-6" id="result-{{food}}1"></div>
                        <div class="col-lg-6" id="result-{{food}}2"></div>
                    </div>
                    <footer class="list-footer flexbox align-items-center py-20 px-20" id="footer-{{food}}">
                        <div class="nb-per-page">
                            <label class="text-fader">{% trans 'Show' %}</label>
                            <select data-provide="selectpicker" id="list-select-per-page-{{food}}">
                                <option value="10" selected>10</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="1000">{% trans 'All' %}</option>
                            </select>
                            {% trans 'entries' %}
                        </div>

                        <nav>
                            <ul class="pagination" id="pagination-{{food}}"></ul>
                        </nav>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--/WINE -->
        <!--/ FOOD -->
        <div class="col-12 h-50px"></div>
        <!--/.main-content -->


        {% include 'pro_base/footer.html' %}

    </main>
    <!-- END Main container -->





    <div class="fab fab-fixed">
        <a href="#qv-product-add" title="{% trans 'Post Food' %}" data-provide="tooltip" data-toggle="quickview" class="btn_post btn_food_post">
            <img src="{% static 'pro_assets/img/cutlery.svg' %}" alt=""> {% trans 'Post Food' %}
        </a>
    </div>


    {% include "admin/elements/edit-food.html" with show_delete_button=True %}
    {% include "admin/elements/add-new-food.html" %}



    <!-- Quickview - Product detail -->
<!--    <div id="qv-product-details" class="quickview quickview-lg">-->
<!--        <header class="quickview-header">-->
<!--            <p class="quickview-title lead fw-400">{% trans 'Change product' %}</p>-->
<!--            <span class="close"><i class="ti-close"></i></span>-->
<!--        </header>-->
<!--        <div class="quickview-body">-->
<!--            <div class="quickview-block form-type-material">-->
<!--                <div class="form-group">-->
<!--                    <input type="text" class="form-control" value="Web design">-->
<!--                    <label>Name</label>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="text" class="form-control" value="5000">-->
<!--                    <label>Cost</label>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <textarea class="form-control" rows="5">Designing a website with about 5 common pages: Home, Services, Portfolio, About, Contact</textarea>-->
<!--                    <label>Description</label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <footer class="p-12 flexbox flex-justified">-->
<!--            <button class="btn btn-flat btn-secondary" type="button" data-toggle="quickview">Cancel</button>-->
<!--            <a class="btn btn-flat btn-danger">Remove</a>-->
<!--            <button class="btn btn-flat btn-primary" type="submit">Save changes</button>-->
<!--        </footer>-->
<!--    </div>-->
    <!-- END Quickview - Product detail -->

    <!-- autoshow popup -->
    <div id="popup-autoshow" class="popup col-6 col-md-4 desktop-only" data-animation="slide-up" data-autoshow="2000"
         data-autohide="10000">
        <button type="button" class="close" data-dismiss="popup" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="media">
            <div class="media-body">
                <h5>{% trans '🍜 POST YOUR DISHES!' %} </h5>
                <p class="mb-0 fs-14"><br>{% trans "📸 Food pictures will also show up on Raisin's main screen of users in your area. 💡 The more the merrier, show what your cuisine is all about ;)" %}
                </p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="lead"><strong>{% trans 'NEW INFORMATION NOT SAVED!' %}</strong></p>
                    <p class="lead mb-0">{% trans 'Would you like to save before exiting?' %}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" id="dismiss" class="btn btn-secondary" data-dismiss="modal">{% trans 'NO' %}</button>
                    <button type="button" id="no-dismiss" class="btn btn-success" data-dismiss="modal">{% trans 'YES' %}</button>
                </div>
            </div>
        </div>
    </div>
    {% include "admin/elements/delete-food.html" %}

{% endblock body %}
