<html>
<head>
    <META NAME="robots" CONTENT="noindex,nofollow">
    <meta name="googlebot" content="noindex,nofollow">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>HOME for ALL PAGES</title>


    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.6;
            color: #555;
            background: #fff;
        }

        a, a:focus {
            color: #555;
            text-decoration: none;
        }

        a:hover {
            color: #111;
            text-decoration: underline;
        }
    </style>


</head>


<body class="home page page-id-32 page-template-default">


<article style="margin:40px;">


    <h1>Website for OWNERS - All pages</h1>
    <ul>
        <li><a href="index_pro_dashboard.html">index.html</a>
            <ul>
                <li><a href="wines.html">wines.html</a></li>
                <li><a href="food.html">food.html</a></li>
                <li><a href="establishment.html">[ESTABLISHMENT]</a></li>
                <li><a href="settings.html">settings.html</a>
                    <ul>
                        <li>Owner Details</li>
                        <li>Company Details</li>
                        <li>Invoice</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="TLDR-messages.html">TLDR-messages.html</a></li>
    </ul>


    <h1 class="mt-30">Registering </h1>
    <ul>
        <li><a href="user-register-2.html">user-register-2.html</a></li>
        <li><a href="user-login-2.html">user-login-2.html</a></li>
        <li><a href="user-register.html">user-register.html</a></li>
        <li><a href="user-login.html">user-login.html</a></li>
    </ul>


</article>


</body>
</html>
	