<div class="row">

    Link to this editor: http://thetheme.io/theadmin/form/editor-summernote.html (last bottom)

    <h5 class="mt-30">Logo</h5>

    <div class="col-2">
        <figure class="img-hov-zoomin"><img class="w-130px rounded" src="../../../web/static/pro_assets/img/wines/vins-1.jpg" alt="...">
        </figure>
        <div class="file-group file-group-inline">
            <button class="btn btn-square btn-pure btn-success file-browser" type="button"><i
                    class="fa fa-upload lead"></i></button>
            <input type="file">
        </div>

        <div class="col-10">
            <div id="summernote-element"><img src="../../../web/static/pro_assets/img/left-quote.png" alt="left-quote" width="23"
                                              height="19"> Amazing and inventive southwestern cooking of chef Gio Osso.
                With just twenty-five seats at Virtù, he's proven himself one of America's finest interpreters of
                Mediterranean food — The Esquire.
            </div>
        </div>

    </div>