<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application ui kit. ">
    <meta name="keywords" content="register, signup">

    <title>User Registration 1 &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="../../../web/static/pro_assets/css/core.min.css" rel="stylesheet">
    <link href="../../../web/static/pro_assets/css/app.css" rel="stylesheet">
    <link href="../../../web/static/pro_assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../../../web/static/pro_assets/img/apple-touch-icon.png">
    <link rel="icon" href="../../../web/static/pro_assets/img/favicon.png">
</head>

<body>


<div class="row min-h-fullscreen center-vh p-20 m-0 wineslider">
    <div class="col-12">
        <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
            <img src="../../../web/static/pro_assets/img/icon-raisin-pro-blue.png" alt="icon-raisin-pro-blue" width="282" height="68">

            <hr>
            <h5 class="text-uppercase text-gray">Create an account</h5>
            <br>

            <form class="form-type-material">

                <div class="form-group">
                    <input type="text" class="form-control" id="fullname">
                    <label for="fullname">Full Name</label>
                </div>


                <div class="form-group">
                    <input type="text" class="form-control" id="username">
                    <label for="username">Owner Username</label>
                    <small>Different from your personnal username as a Raisin user.</small>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="email">
                    <label for="email">Email address</label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password">
                    <label for="password">Password</label>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="password-conf">
                    <label for="password-conf">Password (confirm)</label>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <label class="custom-control-label">I agree to all <a class="text-primary"
                                                                              href="#">terms</a></label>
                    </div>
                </div>

                <br>
                <button class="btn btn-bold btn-block btn-success" type="submit">Register</button>
            </form>
        </div>
        <p class="text-center text-muted fs-13 mt-20">Already have an account? <a class="text-primary fw-500"
                                                                                  href="user-login.html">Sign in</a></p>
    </div>


    <footer class="col-12 align-self-end text-center fs-13">
        <p class="mb-0"><small>Copyright © 2019 <a href="https://www.raisin.digital">Raisin SAS</a>. All rights
            reserved.</small></p>
    </footer>
</div>

<!-- Scripts -->
<script src="starter/src/assets/js/core.min.js"></script>
<script src="starter/src/assets/js/app.min.js"></script>
<script src="../../../web/static/pro_assets/js/script.js"></script>

</body>
</html>

