
<div id="action" class="collapse">
    <div class="bandeau action-main" id="action_main">
        <h3><span class="action_item_number">[XX]</span> entries selected</h3> What do you want to do?&nbsp;&nbsp;&nbsp;
            <button id="ui-bootbox-publish" class="btn btn-lg btn-success">Published</button>&nbsp;&nbsp;&nbsp;
            <button id="ui-bootbox-delete" class="btn btn-lg btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;
            <button id="ui-bootbox-unpublish" class="btn btn-lg btn-info">On Hold</button>&nbsp;&nbsp;&nbsp;
            <button id="ui-bootbox-merge" class="btn btn-lg btn-success">Merge</button>&nbsp;&nbsp;&nbsp;
            <button id="ui-bootbox-cancel" class="btn btn-lg btn-cancel">Cancel</button>
    </div>
    <div class="bandeau action-confirm" id="action_delete_confirm" style="display: none;">
        <h3>You are about to delete <span class="action_item_number">[XX]</span> Entries. This action can not be undone.</h3>
        <div class="panel-body">
            <button id="ui-bootbox-delete-cancel" class="btn btn-lg btn-info">Don't Delete</button>
            <button id="ui-bootbox-delete-confirm" class="btn btn-lg btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="bandeau action-confirm" id="action_publish_confirm" style="display: none;">
        <h3>You are about to Publish <span class="action_item_number">[XX]</span> Entries. All languages of selected Entries will be changed to Publish.</h3>
        <div class="panel-body">
            <button id="ui-bootbox-delete-cancel" class="btn btn-lg btn-info">Don't Publish</button>
            <button id="ui-bootbox-publish-confirm" class="btn btn-lg btn-danger">Publish</button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="bandeau action-confirm" id="action_merge_confirm" style="display: none;">
        <h3>You are about to Merge <span class="action_item_number">[XX]</span> Entries. Everything will be Merged with first selected item.</h3>
        <div class="panel-body">
            <button id="ui-bootbox-delete-cancel" class="btn btn-lg btn-info">Don't Merge</button>
            <button id="ui-bootbox-merge-confirm" class="btn btn-lg btn-danger">Merge</button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="bandeau action-confirm" id="action_unpublish_confirm" style="display: none;">
        <h3>You are about to draft <span class="action_item_number">[XX]</span> Entries. All languages of selected Entries will be changed to On Hold.</h3>
        <div class="panel-body">
            <button id="ui-bootbox-delete-cancel" class="btn btn-lg btn-info">Don't Draft</button>
            <button id="ui-bootbox-unpublish-confirm" class="btn btn-lg btn-danger">On Hold</button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>

