{# {% extends "base/elements/edit/pdg-widget.html" %} #}
{% load i18n %}


{% load i18n %}
{% load web_extras %}

<div class="panel-heading text-left" style="flex-wrap: nowrap">

    {% block pdg_title %}
        <span class="author-validated-by" style="font-size: 14px;">
            {{ pdg_title|safe}}
            {% if featured_venue.id %}
            <span class="panel-second-row">
                 - Posted by: 
                {% if authority_id %}
                    <span class="picture-bigger">
                        <a href="{% url 'edit_user' id=authority_id %}">
                            <img src="{% if authority_avatar_url %}{{ authority_avatar_url }}{% endif %}" data-toggle="tooltip" title="{{ authority_name }}" data-placement="bottom" />
                        </a>
                        <span class="panel-title title-bar-saved-by"> {{ updated_at|date:"M d, Y @ H:i" }} {% trans 'by' %} <a href="{% url 'edit_user' id=authority_id %}">{{ authority_name }}</a></span>&nbsp;&nbsp;&nbsp;

                    </span>
                {% else %}
                    <span> Wordpress (legacy )</span>
                {% endif %}
                </span>
            {% endif %}
        </span>

    {% endblock pdg_title %}

    {% block pdg_right %}
    <div class="text-right">
        {% block additional_pdg_buttons %}
        {% endblock additional_pdg_buttons %}

        {% block saved_by %}
            {% if featured_venue.id and saved_by %}
                <span class="panel-title title-bar-saved-by"><strong>{% trans 'Saved on:' %}</strong> {{ saved_at|date:"M d, Y @ H:i" }} {% trans 'by' %} <a href="{% url 'edit_featured_venue' id=saved_by.id language='en'%}">{% if saved_by.full_name %}{{ saved_by.username }}{% else %}{{ saved_by.username }}{% endif %}</a></span>&nbsp;&nbsp;&nbsp;
            {% endif %}
        {% endblock saved_by %}
        {% if types %}
            <div class="btn-group mr-10 pdg-type-group">
                <button type="button" data-val="" class="btn btn-rounded pdg-type-selected"></button>
                <button type="button" class="btn dropdown-toggle pdg-arrow" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                <ul class="dropdown-menu language-dropdown-menu">
                    {% for type in types %}
                        <li><a href="" data-val="{{type.value}}" class="pdg-type-option">{{type.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if featured_venue.id%}
            <div class="btn-group mr-10 ">
                <button type="button" data-val="" class="btn btn-rounded">{{ current_language.name }}</button>
                <button type="button" class="btn dropdown-toggle pdg-arrow" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                <ul class="dropdown-menu language-dropdown-menu">
                    {% for language in languages %}
                        {% if current_language.value != language.value %}
                            <li><a href="{% url 'edit_featured_venue' featured_venue.id language.value %}" data-val="{{language.value}}">{{language.name}}</a></li>
                        {% endif %}        
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="btn-group mr-10 pdg-language-group">
                <button type="button" data-val="" class="btn btn-rounded pdg-language-selected"></button>
                <button type="button" class="btn dropdown-toggle pdg-arrow" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                <ul class="dropdown-menu language-dropdown-menu">
                    {% for language in languages %}
                        <li><a href="#" data-val="{{language.value}}" class="pdg-language-option">{{language.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="btn-group pdg-group">
            <button type="submit" class="btn btn-success btn-rounded">Save</button>
            <button type="button" class="btn btn-rounded  pdg-selected" data-val=""></button>
            <button type="button" class="btn dropdown-toggle pdg-arrow" data-toggle="dropdown">
                <i class="fa fa-caret-down"></i>
            </button>

            <ul class="dropdown-menu">
                {% for opt_i in pdg_options %}
                    {% if opt_i.class %}
                        <li><a href="#" class="{{ opt_i.class }} pdg-option" data-class="{{ opt_i.selclass }}" data-val="{{ opt_i.value }}">{{ opt_i.name }}</a></li>
                    {% else %}
                        <li><a href="#" class="pdg-option" data-val="{{ opt_i.value }}">{{ opt_i.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
    {% endblock pdg_right %}
</div>
