{% extends 'pro_base/layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %}
{% if first_time %}
Raisin {%if pro %}PRO {% endif %}— {% trans 'Set your password' %}
{% else %}
Raisin {%if pro %}PRO {% endif %}- {% trans 'Reset your password' %}
{% endif %}
{% endblock %}

{% block additional_styles %}
    <link href="{% static 'pro_assets/css/page.css' %}" rel="stylesheet">
{% endblock additional_styles %}

{% block body_open_tag %}
    <body class="layout-centered bg-img"
          style="background-image: url('{% static  "pro_assets/img/bg/fond-raisin.jpg" %}');">
{% endblock body_open_tag %}

{% block body %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="bg-white rounded shadow-7 w-400 mw-100 p-6">
            <img src="https://pro.raisin.digital/en/assets/img/raisin-pro-gray-300-66.png" class="mb-40">
            <h5 class="mb-6">{% if first_time %} {% trans 'Set your password' %} {% else %} {% trans 'Reset your password' %} {% endif %}</h5>
            {% if first_time %}
            <form class="input-line1" action="{% url 'pro_set_password' uid=uid token=token %}" method="POST">
            {% else %}
            <form class="input-line1" action="{% url 'pro_reset_password_confirm' uid=uid token=token %}" method="POST">
            {% endif %}
                {% csrf_token %}
                {% if error_message %}
                    <p><b>Error:</b> {{ error_message }}.</p>
                {% elif is_finished %}
                    {% trans 'Congratulations!' %}
                    {% if user.type == 10 %}
                    <p>{% trans 'Password for user' %} <b>{{ user.username }}</b> {% trans 'has been successfully changed. You can now login into the Raisin app' %}<br/></p>
                    {% else %}
                    <p>{% trans 'Password for user' %} <b>{{ user.username }}</b> {% trans 'has been successfully changed. You can now login into Raisin Pro (app or website)' %}<br/></p>
                    {% endif %}
                {% elif is_canceled %}
                    <p>Password reset for user <b>{{ user.username }}</b> has been canceled</p>
                {% else %}
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                            {{ form.password1|add_class:"form-control" }}
                            {% for error in form.password1.errors %}
                                <p style="color:#FF0000; font-size: 11px;">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="col-sm-12">
                            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                            {{ form.password2|add_class:"form-control" }}
                            {% for error in form.password2.errors %}
                                <p style="color:#FF0000; font-size: 11px;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-lg btn-block btn-primary" style="margin-top: 25px" type="submit">{% if first_time %} {% trans 'Validate' %} {% else %} {% trans 'Reset Password' %} {% endif %}</button>
                {% endif %}
            </form>
        </div>
    </main>
    <!-- /.main-content -->
{% endblock body %}
