{% extends 'pro_base/layout.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block title %}Raisin PRO{% endblock %}

{% block additional_styles %}
    <link href="{% static 'pro_assets/css/page.css' %}" rel="stylesheet">
{% endblock additional_styles %}

{% block body_open_tag %}
    <body class="layout-centered bg-img"
          style="background-image: url('{% static  "pro_assets/img/bg/fond-raisin.jpg" %}');">
{% endblock body_open_tag %}

{% block body %}
    <!-- Main Content -->
    <main class="main-content">
        <div class="bg-white rounded shadow-7 w-400 mw-100 p-6">
            <form class="input-line1">
                <h5 class="mb-6">{% trans 'Recover your password' %}</h5>
                <p>{% trans 'Email has been sent. Get back to' %} <a href="{% url 'pro_login' %}"  style="color: #66B266">{% trans 'login page' %}</a><br></p>
            </form>
        </div>
    </main>
{% endblock body %}
